<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    
        <logger name="jdbc" level="OFF"/>
        <logger name="jdbc.sqlonly" level="OFF"/>
        <logger name="jdbc.sqltiming" level="INFO"/>
        <logger name="jdbc.audit" level="OFF"/>
        <logger name="jdbc.resultset" level="OFF"/>
        <logger name="jdbc.resultsettable" level="INFO"/>
        <logger name="jdbc.connection" level="OFF"/>
    
        <include resource="appenders/appender-file.xml" />
          <root level="INFO">
            <appender-ref ref="FILE" />
          </root>
    
        <include resource="appenders/appender-console.xml" />
          <root level="INFO">
              <appender-ref ref="CONSOLE" />
          </root>
	

</configuration>